<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メイン画面</title>
</head>
<body>
	<header>
		<div class ="contents">
			<div class ="contents_left">
				<h3>トップメニュー</h3>
			</div>
			
			<div class ="contents_right">
				<span th:text="${name}"></span>さん<br>
				ログイン日時: <span th:text="${timestamp}"></span><br>
				<input type="button" onclick="history.back()" value="ログアウト">
			</div>
			
		</div>
		
		<hr class="hr1">
		
		<style>
			h3 {
				  color: red;
			}
			
			.contents {
				display: flex;
				justify-content: space-between;
			}
			
			.contents_right {
				display: right;
			}
			
		</style>
	</header>
	
	<main>
		<a href="./user/Update.html">更新</a>
	</main>
	
	<footer>
			<h5>Copyright © 2025</h5>
			
			<style>
				footer{
				            position: absolute;
				            bottom: 0;
				            display: flex;
				            justify-content: flex-end;
				            width: 100%;
				        }
			</style>
    	
</body>
</html>
